
    <a ng-if="menu.hasSub" tabindex="-1" class="dropdown-toggle" href dropdown-toggle>
        {{menu.title}}
        <b ng-if="menu.level == 0" class="caret"></b>
    </a>
    <ul ng-if="menu.hasSub" class="dropdown-menu">
        <li ng-class="{'dropdown-submenu': menu.hasSub, 'dropdown': !menu.hasSub}" dropdown ng-repeat="menu in menu.submenus" ng-include="'menu-sub.html'"></li>
    </ul>
    <a ng-if="!menu.hasSub" ng-href="{{menu.href}}">
        {{menu.title}}
    </a>

<!--     <li ng-if="menu.hasSub" tabindex="-1" class="dropdown" dropdown>
        <a href class="dropdown-toggle" dropdown-toggle>
            {{menu.title}}
            <b ng-if="menu.level == 0" class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li ng-repeat="menu in menu.submenus" ng-include="menu-sub.html"></li>
        </ul>
    </li>
    <li ng-if="!menu.hasSub">
        <a ng-href="{{menu.href}}">{{menu.title}}</a>
    </li> -->